<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name="description" content="description">
    <title>i.vas3k.ru</title>
    <meta property="og:title" content="i.vas3k.ru" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ url }}" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="i.vas3k.ru" />
    <meta name="twitter:image" content="{{ url }}" />
    <meta name="twitter:image:src" content="{{ url }}" />
</head>
<style>
    body {
        font-family: Helvetica, Arial, sans-serif;
    }

    textarea {
        width: 200px;
        height: 120px;
    }

    .examples {
        text-align: center;
        padding: 50px;
        overflow: hidden;
    }

    .example {
        width: 300px;
        float: left;
        margin-bottom: 50px;
    }

    .clearfix {
        display: block;
        clear: both;
        width: 100%;
    }
</style>
<body>
    <div style="width: 50%; float: left; font-size: 32px; text-align: right; padding-top: 50px;">
        {% for url in urls %}
            <a href="{{ url }}" style="margin-right: 40px;">{{ url }}</a><br>
        {% endfor %}
    </div>

    <div style="width: 50%; float: left; font-size: 32px; text-align: left; padding-top: 50px;">
        {% for url in urls %}
            {% if url != full_url(url) %}
                <a href="{{ full_url(url) }}" style="margin-left: 40px;">{{ full_url(url) }}</a><br>
            {% endif %}
        {% endfor %}
    </div>

    <div class="clearfix"></div>

    <div class="examples">
        <div class="example">
            Прост<br>
            <textarea>{% for url in urls %}![]({{ url }}){% endfor %}</textarea>
        </div>

        <div class="example">
            Ссылкой<br>
            <textarea>{% for url in urls %}[![]({{ url }})]({{ full_url(url) }}){% endfor %}</textarea>
        </div>

        <div class="example">
            По ширине текста<br>
            <textarea>{% for url in urls %}{{ '{{{' }} ![]({{ url }}) {{ '}}}' }}{% endfor %}</textarea>
        </div>

        <div class="example">
            По ширине экрана<br>
            <textarea>{% for url in urls %}{{ '{{{.block-media.block-media__full' }} ![]({{ full_url(url) }}) {{ '}}}' }}{% endfor %}</textarea>
        </div>

        <div class="example">
            Справа<br>
            <textarea>{{ '{{{.block-side.block-side__right' }} {% for url in urls %} ![]({{ url }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            Слева<br>
            <textarea>{{ '{{{.block-side.block-side__left' }} {% for url in urls %} ![]({{ url }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            2 по ширине текста<br>
            <textarea>{{ '{{{.block-media.block-media__2' }} {% for url in urls %} ![]({{ url }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            3 по ширине экрана<br>
            <textarea>{{ '{{{.block-media.block-media__3-full' }} {% for url in urls %} ![]({{ url }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            75% по центру<br>
            <textarea>{% for url in urls %}{{ '{{{.block-media.block-media__body.width-75' }} ![]({{ url }}) {{ '}}}' }}{% endfor %}</textarea>
        </div>

        <div class="example">
            50% по центру<br>
            <textarea>{% for url in urls %}{{ '{{{.block-media.block-media__body.width-50' }} ![]({{ url }}) {{ '}}}' }}{% endfor %}</textarea>
        </div>
    </div>

    <div style="text-align: center;">
        {% for url in urls %}
            {% if is_image(url) %}
                <img src="{{ url }}" alt="{{ url }}"><br><br>
            {% else %}
                <video src="{{ url }}" width="480" controls></video><br><br>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>

