<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name="description" content="description">
    <title>i.vas3k.ru</title>
    <meta property="og:title" content="i.vas3k.ru" />
    <meta property="og:url" content="{{ image }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="i.vas3k.ru" />
    <meta name="twitter:image" content="{{ image }}" />
    <meta name="twitter:image:src" content="{{ image }}" />
</head>
<style>
    body {
        font-family: Helvetica, Arial, sans-serif;
    }

    textarea {
        width: 200px;
        height: 120px;
    }

    .examples {
        text-align: center;
        padding: 50px;
        overflow: hidden;
    }

    .example {
        width: 300px;
        float: left;
        margin-bottom: 50px;
    }
</style>
<body>
    <div style="width: 50%; float: left; font-size: 32px; text-align: right; padding-top: 50px;">
        {% for image, image_full in images %}
            <a href="{{ image }}" style="margin-right: 40px;">{{ image }}</a><br>
        {% endfor %}
    </div>

    <div style="width: 50%; float: left; font-size: 32px; text-align: left; padding-top: 50px;">
        {% for image, image_full in images %}
            <a href="{{ image_full }}" style="margin-left: 40px;">{{ image_full }}</a><br>
        {% endfor %}
    </div>

    <div class="examples">
        <div class="example">
            Прост<br>
            <textarea>{% for image, image_full in images %}![]({{ image }}){% endfor %}</textarea>
        </div>

        <div class="example">
            По ширине текста<br>
            <textarea>{% for image, image_full in images %}{{ '{{{' }} ![]({{ image }}) {{ '}}}' }}{% endfor %}</textarea>
        </div>

        <div class="example">
            По ширине экрана<br>
            <textarea>{% for image, image_full in images %}{{ '{{{.block-media.block-media__full' }} ![]({{ image }}) {{ '}}}' }}{% endfor %}</textarea>
        </div>

        <div class="example">
            Справа<br>
            <textarea>{{ '{{{.block-side.block-side__right' }} {% for image, image_full in images %} ![]({{ image }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            Слева<br>
            <textarea>{{ '{{{.block-side.block-side__left' }} {% for image, image_full in images %} ![]({{ image }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            2 по ширине текста<br>
            <textarea>{{ '{{{.block-media.block-media__2' }} {% for image, image_full in images %} ![]({{ image }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            3 по ширине экрана<br>
            <textarea>{{ '{{{.block-media.block-media__3-full' }} {% for image, image_full in images %} ![]({{ image }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            4 по ширине текста<br>
            <textarea>{{ '{{{.block-media.block-media__4' }} {% for image, image_full in images %} ![]({{ image }}) {% endfor %} {{ '}}}' }}</textarea>
        </div>

        <div class="example">
            Фоном, fixed, cover<br>
            <textarea>
{% for image, image_full in images %}
<div class="block-background" style="background-image: url('{{ image_full }}');">
	<div class="block-text">

    </div>
</div>
{% endfor %}
            </textarea>
        </div>

        <div class="example">
            Фоном, scroll, right<br>
            <textarea>
{% for image, image_full in images %}
<div class="block-background" style="background-image: url('{{ image_full }}'); background-repeat: no-repeat; background-position: 95% 0; background-size: 30%;">
	<div class="block-text">

    </div>
</div>
{% endfor %}
            </textarea>
        </div>

        <div class="example">
            Фоном, fixed, bottom-right<br>
            <textarea>
{% for image, image_full in images %}
<div class="block-background" style="background-color: #FFF; background-image: url('{{ image_full }}'); background-size: 200px; background-repeat: no-repeat; background-position: right bottom;">
	<div class="block-text">

    </div>
</div>
{% endfor %}
            </textarea>
        </div>
    </div>

    <div style="text-align: center;">
        {% for image, image_full in images %}
            <img src="{{ image }}"><br><br>
        {% endfor %}
    </div>
</body>
</html>

